@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
* {
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
  margin: 0;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.container-inner {
  width: 1280px;
  height: 450px;
  margin: 0 auto;
  padding: 40px 50px 0;
}

.brand {
  border: 1px solid red;
  width: 100%;
}
.brand a {
  display: flex;
}
.brand-name {
  padding-left: 15px;
}
.brand-name h3 {
  margin: 0;
  line-height: 22px;
  font-weight: 600;
}
.brand-name p {
  margin: 0;
  font-size: 13px;
}
.brand-name div {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  height: 25px;
  width: 95px;
  min-height: 25px;
  min-width: 40px;
  padding: 0 9px;
  margin-top: 5px;

  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  line-height: 25px;
}

.product-detail {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  position: relative;
  overflow: hidden;
}
.product-img-contanier {
  /* border: 1px solid red; */
  /* flex: 1; */
  position: relative;
  overflow: hidden;
  width: 47%;
  height: 100%;

  top: 0;
  left: 0;
}
.img-slider-inner {
  /* border: 1px solid #000; */
  position: absolute;
  top: 0;
  left: 0;
  /* left: -100%면 다음이미지 보임 */
  width: 200%;
}
.img-slider-inner li {
  width: 50%;
  float: left;
  display: flex;
}
.image {
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* 화살표 */
.product-img-arrow {
}
.arrow-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  width: 30px;
  cursor: pointer;
}
.arrow-btn:nth-child(1) {
  left: 0;
}
.arrow-btn:nth-child(2) {
  right: 0;
}
.arrow-btn i {
  font-size: 2em;
  color: #dddddd;
}
.arrow-btn.active i {
  color: #000;
}

/* 페이지네이션 */
.product-img-pagenation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.product-img-pagenation li {
  display: inline-block;
}
.product-img-pagenation li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #bbbbbb;
  cursor: pointer;
}
.product-img-pagenation li button:hover {
  background-color: #000;
}

.product-info-contanier {
  border: 1px solid green;
  width: 100%;
  padding-left: 40px;
  /* flex: 1; */
}
